################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/Properties
*.sln
*.mdp
workshop.json
/bin/Debug/
